body{
    font-family: Roboto , sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    direction: rtl;
   
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #393E46;
    align-items: center;
    z-index: 1000;
    padding-top: 30px;
}
.titile{
    font-family: Noto serif , serif;
    font-size: 1.5rem;
    color: #393E46;
    margin-right: 50px;
    animation:  fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

nav{
    text-align: center;
}

.nav-menu{
    display: flex;
    justify-content:center ;
    list-style: none;
    margin: 0;
    padding: o;
    gap: 100px;
    margin-left: 300px;
    
}
.nav-menu a {
    color:#393E46 ;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav-menu a:hover{
    color: white;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 6px;
    padding: 3px;

}

.video{
    width: 100%;
    height: 400px;
    margin-top: 95px;
    display: block;
    object-fit: cover;
   
}

.img{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    border-radius: 0;
    display: block;
    margin-top: 95px;
}

.subtitle{
    font-size: 1.3rem;
    color:#393E46 ;
    margin-top: 40px;
    margin-right: 60px;
}

.section{
    background-color:#EEEEEE;
    border: 1px;
    border-radius: 12px;
    width: 90%;
    height: 250px;
    line-height: 1.8rem;
    margin: 30px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    text-align: justify;
}



.culture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* فاصله بین عکس‌ها */
    padding: 20px;
  }
  
  .culture img {
    width: 300px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .culture img:hover {
    transform: scale(1.05);
  }
 .div{
   
    border: 1px;
    border-radius: 12px;
    width: 90%;
    height: 250px;
    line-height: 1.8rem;
    margin: 30px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    text-align: justify;
 } 



footer{
    background-color:#393E46 ;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}
footer p{

    font-size: 1.3rem;
    font-family: 'Gill Sans';
    color: white;

}

footer a{
    display: block;
    gap: 30px;
}

.icon a{
    color: white;
    line-height: 2rem;
    transform: color 1s ease;
   
}
.icon a:hover{
  color: blue;
}